## Question 2: For this question youâ€™ll need to use SQL. Follow this [link](https://www.w3schools.com/SQL/TRYSQL.ASP?FILENAME=TRYSQL_SELECT_ALL) to access the data set required for the challenge. Please use queries to answer the following questions. Paste your queries along with your final numerical answers below.

- 1. How many orders were shipped by Speedy Express in total?
- 2. What is the last name of the employee with the most orders?
- 3. What product was ordered the most by customers in Germany?

### Q1

In [ ]:
SELECT Count(*) FROM Orders
	LEFT JOIN Shippers ON Orders.ShipperID = Shippers.ShipperID
    WHERE ShipperName = "Speedy Express";

In [ ]:
54

### Q2

In [ ]:
SELECT Employees.LastName FROM Orders
	LEFT JOIN Employees ON Orders.EmployeeID = Employees.EmployeeID
    GROUP BY Orders.EmployeeID
    ORDER BY COUNT(*) DESC
    LIMIT 1;

In [ ]:
Peacock

### Q3

In [ ]:
SELECT Products.ProductName FROM OrderDetails
	LEFT JOIN Orders ON Orders.OrderID = OrderDetails.OrderID
    LEFT JOIN Products ON Products.ProductID = OrderDetails.ProductID
    LEFT JOIN Customers ON Customers.CustomerID = Orders.CustomerID
    WHERE Customers.Country = "Germany"
    GROUP BY OrderDetails.ProductID
    ORDER BY COUNT(*) DESC
    LIMIT 1;

In [ ]:
Gorgonzola Telino